# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod
# Keep .env.example or specific safe env files if needed

# Build Outputs
dist/
build/
coverage/

# System Files
.DS_Store
Thumbs.db
*.log

# IDE / Editor
.vscode/
.idea/

# Project Specific
/TQF3-2568-1-1101103.pdf
client/scan-report-v2.html
client/zap.yaml

# Server Uploads (Ignore user uploads but keep the directory)
server/uploads/*
!server/uploads/.gitkeep