version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: it-assets-db-local
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=it_asset_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata-local:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  pgdata-local:
